.container {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

#Clock {
  text-align: center;
  font-size: 115px;
  vertical-align: top;
  padding-top: 5px;
}

#Date {
  text-align: center;
  font-size: 70px;
}